{% extends "base.html" %}
{% load static %}
{% block title %}Log out{% endblock %}
    {% block contents %}
    <style>
        body {
            background-image: url("{% static 'image/5505.jpeg' %}");
            background-size: cover;
            background-repeat: no-repeat;
        }
    </style>
    <div class="container">
        <div class="row">
            <div class="col offset-4 py-4">
                <h3>ログアウトしました</h3>
                <p><a href="{% url 'musicapp:index' %}">トップページへ</a></p>
        </div>
    </div>
    {% endblock %}