{% extends 'base.html' %}
{% load static %}
{% block title %}Send Password reset{% endblock %}
    {% block contents %}
    <style>
        body {
            background-image: url("{% static 'image/IMG_1298.jpeg' %}");
            background-size: cover;
            background-repeat: no-repeat;
        }
    </style>
    <hr>
    <div class="container">
        <div class="row">
            <div class="col offset-2 py-4">
                <h5>パスワードのリセット手順をメールで送信しました。
                    メールはすぐ届きます。</h5>
                <br>
                <h6>メールが届かない場合は、登録済みのメールアドレスかどうかを確認して、
                    迷惑メールフォルダーも確認してみてください。</h6>
                <br>
                <a href="{% url 'musicapp:index' %}">音楽投稿サイト</a>
            </div>
        </div>
    </div>
    {% endblock %}